<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style nonce="{{ style }}">
        :root {
            --background-url: url("{{ static('images', 'cells.jpg') }}");
        }
        div.user_sign {
            background-color: {{ user_color }};
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ static('css', 'base.css') }}">
</head>
<body>
    {% set tc_info_texts=text_content['info_texts'] %}
    {% set tc_button_texts=text_content['button_texts'] %}
    {% block styles %}{% endblock %}
    <div class="main_table">
        <div class="main_table_header_row white-background-third-transparent">
            <div class="main_table_cell {% if is_authorized %}width-60 {% else %}full-width{% endif %}" id="lang_selector_cell">
                <label for="lang_selector">{{ tc_info_texts['language'] }} </label>
                <select id="lang_selector">
                    {% for lang_info in all_langs.items() %}
                        <option id="{{ lang_info[0] }}" {% if lang_info[0] == lang %} selected {% endif %}>{{ lang_info[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if is_authorized %}
                <div class="main_table_cell" id="user_sign_cell">
                    <div class="user_sign">{{ first_letter }}</div>
                </div>
                <div class="main_table_cell" id="username_cell">
                    <a href="{{ url_for('user', name=username) }}" class="white hover-underlined">{{ username }}</a>
                </div>
                <div class="main_table_cell" id="logout_cell">
                    <a id="exitButton" class="control">{{ tc_button_texts['logout'] }}</a>
                </div>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </div>


{#    <table id="invisible">#}
{#        <tr>#}
{#            <td id="lang_selection_block">#}
{#                <label for="lang_selector">Язык: </label>#}
{#                <select id="lang_selector">#}
{#                    {% for lang_info in all_langs.items() %}#}
{#                        <option id="{{ lang_info[0] }}" {% if lang_info[0] == lang %} selected {% endif %}>{{ lang_info[1] }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </td>#}
{#            {% if is_authorized %}#}
{#                <td id="user_sign_block"><div class="user_sign">{{ first_letter }}</div></td>#}
{#                <td id="username_block"><div class=""><a href="{{ url_for('user', name=username) }}" class="white hover-underlined">{{ username }}</a></div></td>#}
{#                <td id="exit_button_block"><div class=""><a id="exitButton" class="control">Выйти</a></div></td>#}
{#            {% endif %}#}
{##}
{#            <td class="white-background-third-transparent full-width position-relative" colspan="100%">#}
{#                    <div class="float-left">#}
{#                        <label for="lang_selector">Язык: </label>#}
{#                        <select id="lang_selector">#}
{#                            {% for lang_info in all_langs.items() %}#}
{#                                <option id="{{ lang_info[0] }}" {% if lang_info[0] == lang %} selected {% endif %}>{{ lang_info[1] }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="right position-absolute">#}
{#                        <div class="user_sign float-left">{{ first_letter }}</div>#}
{#                        <div class="float-left"><a href="{{ url_for('user', name=username) }}" class="white hover-underlined">{{ username }}</a></div>#}
{#                        <div class="float-left"><a id="exitButton" class="control">Выйти</a></div>#}
{#                    </div>#}
{#            </td>#}
{#            <td id="header"><div class="user_sign">{{ first_letter }}</div></td><td id="nickname"><a href="{{ url_for('user', name=username) }}" class="white hover-underlined">{{ username }}</a></td><td id="exitButtonPlace"><a id="exitButton" class="control">Выйти</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="100%"></td>#}
{#        </tr>#}
{#        {% block body %}{% endblock %}#}
{#    </table>#}
    <script src="{{ static('scripts', 'base.js') }}"></script>
</body>
</html>