:root {
    --pink: #ff008c;
    --light-pink: #ff41a5;
    --pink-gradient: linear-gradient(to top, var(--pink), var(--light-pink));
    --inverse-pink-gradient: linear-gradient(to top, var(--light-pink), var(--pink));
}
html, body {
    background-image: url("/static/images/cells.jpg");
    height:100%;
    margin:0px;
    padding:0px;
    color: white;
    font-family: "Arial", serif;
}
table#invisible {
    height: 100%;
    margin: auto;
    background-color: #333366;
    width: 30%;
}
a.control {
    border-radius: 15px;
    text-decoration: none;
    font-family: "Arial Black", serif;
    text-transform: uppercase;
}
a.hover-underlined {
    text-decoration-line: none;
}
a.hover-underlined:hover {
    text-decoration-line: underline;
}
td.align-top {
    vertical-align: top;
}
div.user_sign {
    border:2px solid white;
    border-radius: 400px;
    text-align: center;
    vertical-align: center
}
select#lang_selector {
    color: white;
    background: var(--pink-gradient);
}
option {
    background-color: var(--light-pink);
}
option:checked, option:hover {
    background-color: var(--pink);
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.full-width {
    width: 100%;
}
.width-60 {
    width: 60%;
}
.white {
    color: white;
}
.white-third-transparent {
    color: #ffffff30
}
.white-background-third-transparent {
    background-color: #ffffff30
}
.main_table
{
    display:  table;
    height: 100%;
    margin: auto;
    background-color: #333366;
    width: 40%;
}
.main_table_row
{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_table_cell
{
    height: auto;
    float:left;
    display:table-column;
}
.main_table_header_row {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lang_selector_cell {
    padding-left: 1%;
}
#user_sign_cell {
    width: 5%;
}
#username_cell {
    width: 20%;
    padding-left: 1%;
}
#logout_cell {
    flex: 1;
}
