:root {
    --pink: #ff008c;
    --light-pink: #ff41a5;
    --pink-gradient: linear-gradient(to top, var(--pink), var(--light-pink));
    --inverse-pink-gradient: linear-gradient(to top, var(--light-pink), var(--pink));
}
html, body {
    background-image: url("/static/images/cells.jpg");
    height:100%;
    margin:0px;
    padding:0px;
    color: white;
    font-family: "Arial", serif;
}
table#invisible {
    height: 100%;
    margin: auto;
    background-color: #333366;
    width: 30%;
}
a.control {
    border-radius: 15px;
    text-decoration: none;
    font-family: "Arial Black", serif;
    text-transform: uppercase;
}
a.white {
    color: white;
}
a.hover-underlined {
    text-decoration-line: none;
}
a.hover-underlined:hover {
    text-decoration-line: underline;
}
h5.white {
    color: white;
}
td.align-top {
    vertical-align: top;
}
div.user_sign {
    border:2px solid white;
    border-radius: 400px;
    text-align: center;
    vertical-align: center
}