a.main-menu{
    padding: 10px 15px;
    color: #ffffff;
    background: var(--pink-gradient);
}
a.main-menu:hover {
    background: var(--inverse-pink-gradient);
}
a.main-menu:active {
    padding: 7px 12px;
}

tr#userInfo {
    background: #333366;
    height: 50px;
}
td#nickname {
    text-align: left;
}
td#exitButtonPlace {
    text-align: right;
}

p {
    margin-bottom: 35px;
    text-align: center;
}