<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style nonce="{{ style }}">
        :root {
            --background-url: "{{ url_for('static', filename='images/cells.jpg') }}"
        }
        div.user_sign {
            background-color: {{ user_color }};
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    {% block styles %}{% endblock %}
    <table id="invisible">{% block body %}{% endblock %}</table>
</body>
</html>