{% extends 'base.html' %}

{% block title %}
    Наборщик слов
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <style nonce="{{ style }}">
        div.user_sign {
            background-color: {{ user_color }};
        }
        td#header {
            width: 25px;
        }
    </style>
{% endblock %}

{% block body %}
         <div class="main_table_row">
              {% if is_authorized %}
                  <div>
                    <p><a href="/new_game" class="main-menu control">Создать комнату</a></p>
                    <p><a href="/join_game" class="main-menu control">Присоединиться к комнате</a></p>
                    <p><a href="/rate" class="main-menu control">Рейтинги</a></p>
                  </div>
              {% else %}
                  <div>
                    <p><a href="/login" class="main-menu control">Войти</a></p>
                    <p><a href="/sing_up" class="main-menu control">Зарегистрироваться</a></p>
                  </div>
              {% endif %}
         </div>
{% endblock %}